.add_button{
    padding: 5%;
}


.add_task_button{
    padding: 2%;
}

.add_task_button_container{
    padding: 3%;
}

.modal_form{
    height: 420px;
    width: 320px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 2px;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.form_add_task_text{
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
}


.modal_form_container{
    height: 100%;
}

.form_button_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modal_form_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.modal_form:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.MuiModal-root-39{
    position: relative;
}